* {
    padding: 0;
    margin: 0;
}

#content {
    display: grid;
    grid: 5vh 9vh 70vh 8vh 8vh / 18vw 41vw 41vw;
    place-items: stretch;
    height: 100vh;
    width: 100vw; 
    font-family: 'Lato', sans-serif;
}

.section {
    display: grid;
    place-items: center;
}

.left {
    background-color: #f0f0f0;
}

.projects-title {
    grid-area: 1 / 1 / 3 / 2;
}

.projects-title-text {
    padding-left: 3px;
}

.projects-title, 
.task-title,
.each-task-title,
.project-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 17px;
    font-size: 20px; 
}

.projects-list {
    grid-area: 3 / 1 / 4 / 2;
}

ul {
    padding: 12px 20px 0 20px;
    font-size: 16px;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5vh;
    width: 15vw;
    border-top: 2px dashed #a2a5a6;
    border-right: none;
    border-left: none;
}

#last-li {
    border-bottom: 2px dashed #a2a5a6;
}

.new-project {
    grid-area: 4 / 1 / 5 / 2;
}

#new-project,
#save-task {
    margin-bottom: 0;
}

.delete-project {
    grid-area: 5 / 1 / 6 / 2;
}

#delete-project,
#delete-task {
    align-self: start;
}

#add-new-project {
    height: 2.75vh;
    width: 15vw;
    margin-top: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

button {
    height: 30px;
    width: 115px;
    border: none !important;
    border-radius: 8px;
    margin-bottom: 30px; 
    font-family: 'Lato', sans-serif;
    font-size: 15px; 
    background-color: #95d7f0;

}

.middle,
.right {
    background-color: #fafafa; 
}

.date {
    grid-area: 1 / 2 / 2 / 3; 
    align-self: end !important;
    padding-top: 50px;
    font-size: 16px; 
    background-color: #fafafa; 
}

.project-title {
    grid-area: 2 / 2 / 3 / 3;
}

.projects-list,
.tasks-list, 
.description-field,
.task-details,
form {
    display: flex;
    flex-direction: column;
}

.tasks-list {
    grid-area: 3 / 2 / 4 / 3;
    align-self: stretch;
    gap: 20px;
    padding-top: 11px;
    font-size: 16px;
}

.task,
.priority-field {
    justify-content: space-between;
}

.task {
    display: grid;
    grid: 3.5vh 5vh / 3vw 30vw 5vw;
    height: 8vh;
    width: 38vw;
    margin: 0 15px 0 15px;
    border: 1px solid #a2a5a6;
    border-radius: 10px;
    background-color: white;
    overflow-y: hidden;
}

.green,
.red,
.yellow {
    border-radius: 0 10px 10px 0;
}

.green,
input[type="radio"]:checked + label.priority[data-color="green"]::before {
    background-color: rgba(2, 184, 35, 0.5);
}

.red,
input[type="radio"]:checked + label.priority[data-color="red"]::before {
    background-color: rgba(240, 2, 14, 0.5);
}

.yellow,
input[type="radio"]:checked + label.priority[data-color="yellow"]::before {
    background-color: rgba(252, 244, 3, 0.5);
}

li,
.task-description,
.task-duedate,
.task-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-description {
    grid-area: 2 / 2 / 3 / 3; 
    align-self: center;
    justify-self: center;
    width: 28vw;
    border-radius: 10px 0 0 10px;
    font-size: 13px;
    background-color: white;
}

.task-title {
    grid-area: 1 / 2 / 2 / 3; 
    align-self: stretch;
    justify-self: stretch; 
    width: 30vw;
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid #a2a5a6;
    text-align: center;
    font-size: 16px;
}

.task-duedate {
    grid-area: 1 / 3 / 3 / 4; 
    height: 8vh;
    width: 5vw;
    border-left: 1px solid #a2a5a6;
    font-size: 13px;
    overflow-x: hidden;
}

.task-edit {
    grid-area: 1 / 1 / 3 / 2;
    height: 8vh;
    width: 3vw;
    border-right: 1px solid #a2a5a6;
    margin: 0; 
    text-align: center; 
    font-size: 13px;
    background-color: white;
}

button,
li,
.task-edit,
label.priority {
    cursor: pointer;
}

.hide {
    display: none;
}

input[type="date"] {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
}

.new-task {
    grid-area: 4 / 2 / 6 / 3;
}

#new-task {
    align-self: center;
}

.each-task-title {
    grid-area: 1 / 3 / 3 / 4;
    border: 5px outset #adb1b3;
    border-bottom: none;
}

.task-details,
form {
    align-items: center;
}

.task-details {
    grid-area: 3 / 3 / 4 / 4;
    border: 5px outset #adb1b3;
    border-top: none;
    border-bottom: none; 
    font-size: 17px;
}

form {
    gap: 30px;
    padding-top: 18px;
}

#each-task-label {
    padding-right: 43px;
}

#task-duedate-label {
    padding-right: 7px;
}

#each-task,
#task-duedate {
    height: 2.5vh;
    width: 26vw;
}

#each-task,
#task-duedate,  
select, option {
    text-align: center;
    font-family: 'Lato', sans-serif;;
    font-size: 16px;
}

#task-priority-label {
    padding-right: 5vw;  
}

input[type="radio"] {
    display: none;
}

label.priority {
    display: inline-block;
    align-self: center;
    position: relative;
    padding-left: 2vw; 
    padding-right: 4.5vw;
}

label.priority::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #000;
    border-radius: 50%;
}

input[type="radio"]:checked + label.priority::before {
    background-color: #95d7f0;
}

.priority-field {
    display: flex;
    justify-content: space-between;
    width: 30.5vw;
    padding-right: 3.5vw;
}

#status-dropdown {
    height: 3vh;
    width: 26vw;
}

#task-description-label {
    padding-bottom: 12px; 
}

textarea {
    height: 30vh;
    width: 33.5vw;
    padding: 5px 0 0 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#task-status-label {
    padding-right: 65px;
}

.save-task {
    grid-area: 4 / 3 / 5 / 4;
    border-left: 5px outset #adb1b3;
    border-right: 5px outset #adb1b3;
}

.delete-task {
    grid-area: 5 / 3 / 6 / 4;
    border: 5px outset #adb1b3;
    border-top: none;
}